{% extends "vws_main/header.html" %}
{% load staticfiles %}

{% block content %}
    <!-- content here -->
    <div class="container">
        <div class="page-header text-center">
            <br />
            <h1 style="color: rgb(39, 15, 170)">About Me</h1>
            <hr class="yellow"/>
        </div>
        <div class="row">
            <div class="col-md my-auto">
                    <p>
                        I have been wrestling for 20 of my 24 years on this planet and
                        can say without a doubt it is the single most important, influential
                        force in my life.  Wrestling and wrestlers have taught me everything
                        from values to work ethic from humility to pride and from confidence to despair.
                    </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md my-auto">
                <p>
                    My pursuits through wrestling have guided me to degrees in Learning and Cognition
                    and Computer Science.  I hope to combine these fields and apply them to Human-Computer
                    Interactions and try to enhance what it means to be human.  Artificial Intelligence applications
                    are also of interest in addition to, obviously, sports analytics.
                </p>
            </div>
            <div class="col-md my-auto">
                <img src="{% static 'vws_main/img/brain.jpg' %}"
                    alt="No img available." class="img-thumbnail rounded mx-auto d-block">
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md my-auto">
                <img src="{% static 'vws_main/img/ufwrestle.jpg' %}"
                alt="No img available." class="img-thumbnail rounded mx-auto d-block">
            </div>
            <div class="col-md my-auto">
                <p>
                    I started my wrestling career at the age of 4 in central Pennsylvania.
                    Continuing through middle school and high school in the Blue Mountain
                    School District I enjoyed average success.  My sophomore year my family moved
                    to Florida where I finished my high school career in three years instead of four
                    and continued wrestling success for the last year.  AFter graduating high school
                    I attended the University of Florida where I wrestled in the NCWA for two years
                    before transitioning to a coaching role.  Wrestling is a part of who I am.

                    Oh... and if you are wondering why there isn't college wrestling on this site, its
                    not because I don't have the capability (I actually marketed an advanced analytics software
                    to Divison 1 coaches) but instead that it is too time consuming to do as a hobby without pay.
                    More importantly, though, Freestyle > Folkstyle.
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md my-auto">
                <p>
                    My goals for this site are to provide some extra context for
                    international Freestyle wrestling and wrestling in general.  I
                    want to give the dedicated fan a place to really dig in and follow
                    their favorite wrestlers and get in depth analysis of their matches
                    and events.  I want to provide a launching ground so that one day wrestling
                    will have the advanced analytics that other sports have.

                    Key features of the site include:
                    <ol>
                        <li>User login interface to easily track your favorite wrestlers.</li>
                        <li>Report Feed to keep track of analysis documents for each event.
                            These should be standardized across all events except the World
                            Championships and Olympic Games.</li>
                        <li>Elo Rating system (adapted formula from chess).</li>
                        <li>Wrestler profile pages to see your wrestlers stats at a glance.</li>
                        <li>(pending...) Dashboard to view your "team" stats for each user.
                            This could be expanded into a competitve system in the future.
                        </li>
                    </ol>
                </p>
            </div>
            <div class="col-md my-auto">
                <img src="{% static 'vws_main/img/funinternet2.png' %}"
                alt="No img available." class="img-thumbnail rounded mx-auto d-block">
            </div>
        </div>
    </div>


    <!-- stop content -->

    <script type="text/javascript" src="{% static 'vws_main/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/addons/datatables.min.js' %}"></script>

    <script type="text/javascript">
        new WOW().init();
    </script>

{% endblock %}
