{% extends "vws_main/header.html" %}

{% block content %}
{% load widget_tweaks %}
{% load subtract %}

<div class="container">
    <div class="page-header">
        <h2><em>Versus!</em></h2>
        <hr />
    </div>

    <h3>Compare your favorite wrestlers and see who would win!</h3>
    <h6>Be sure to enter athlete names as found on our <a href="/fs_ratings/">Ratings</a> page.</h6>

    <form method="POST">{% csrf_token %}
      <input type="text" name="wrestler1" value="Jason Nolf">
      <input type="text" name="wrestler2" value="Isaiah Martinez">
      <input type="submit" value="Submit" onclick="showhideFunction()">
    </form>

    <br />
    <div class="row">
        <div class="col">
            {{prediction}}
        </div>
    </div>

</div>

{% endblock %}
