{% extends "vws_main/header.html" %}

{% block content %}
{% load widget_tweaks %}
{% load subtract %}

<div class="container">
    <div class="page-header">
        <h2><em>Versus!</em></h2>
        <hr />
    </div>

    <h3>Compare your favorite wrestlers and see who would win!.</h3>
    <h6>Be sure to enter athlete names as found on our <a href="/fs_ratings/">Ratings</a> page.</h6>

    <form method="POST">{% csrf_token %}
      <input type="text" name="wrestler1" placeholder="Wrestler1">
      <input type="text" name="wrestler2" placeholder="Wrestler2">
      <input type="submit" value="Submit" onclick="showhideFunction()">
    </form>

    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm table-light">
          <thead class="table-primary">
            <tr>
                <th></th>
                <th>{{w1.name}}</th>
                <th>{{w2.name}}</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="#" data-toggle="popover" data-trigger="hover" title="Rating"
                   data-content="Elo Rating">Rating</a></td>
            <td>{{w1.rating}}</td>
            <td>{{w2.rating}}</td>
          </tr>
          <tr>
            <td><a href="#" data-toggle="popover" data-trigger="hover" title="Average Result"
                   data-content="0.25-LossF, 0.50-LossTF, 0.90-LossD, 1.10-WinD, 1.50-WinTF, 1.75-WinF">Result</a></td>
            <td>{{w1_stats.result}}</td>
            <td>{{w2_stats.result}}</td>
          </tr>
          <tr>
            <td><a href="#" data-toggle="popover" data-trigger="hover" title="Neutral Pace Factor"
                   data-content="(TD conversions/total TD conversions) + (TD attempts/total TD attempts)">NPF</a></td>
            <td>{{w1_stats.npf}}</td>
            <td>{{w2_stats.npf}}</td>
          </tr>
          <tr>
            <td><a href="#" data-toggle="popover" data-trigger="hover" title="Points per Match"
                   data-content="Average">PPM</a></td>
            <td>{{w1_stats.points}}</td>
            <td>{{w2_stats.points}}</td>
          </tr>
          <tr>
            <td><a href="#" data-toggle="popover" data-trigger="hover" title="Head Inside Rate"
                   data-content="Average">HI%</a></td>
            <td>{{w1_stats.hi_rate}}</td>
            <td>{{w2_stats.hi_rate}}</td>
          </tr>
          <tr>
            <td><a href="#" data-toggle="popover" data-trigger="hover" title="Head Outside Rate"
                   data-content="Average">HO%</a></td>
            <td>{{w1_stats.ho_rate}}</td>
            <td>{{w2_stats.ho_rate}}</td>
          </tr>
          <tr>
            <td><a href="#" data-toggle="popover" data-trigger="hover" title="Double Rate"
                   data-content="Average">D%</a></td>
            <td>{{w1_stats.d_rate}}</td>
            <td>{{w2_stats.d_rate}}</td>
          </tr>
          <tr>
            <td><a href="#" data-toggle="popover" data-trigger="hover" title="Low Shot Rate"
                   data-content="Average">LS%</a></td>
            <td>{{w1_stats.ls_rate}}</td>
            <td>{{w2_stats.ls_rate}}</td>
          </tr>
          <tr>
            <td><a href="#" data-toggle="popover" data-trigger="hover" title="Counter Rate"
                   data-content="Average">GB%</a></td>
            <td>{{w1_stats.gb_rate}}</td>
            <td>{{w2_stats.gb_rate}}</td>
          </tr>
          <tr>
            <td><a href="#" data-toggle="popover" data-trigger="hover" title="Throw Rate"
                   data-content="Average">T%</a></td>
            <td>{{w1_stats.t_rate}}</td>
            <td>{{w2_stats.t_rate}}</td>
          </tr>
          </tbody>
        </table>
      </div>

</div>

<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>

{% endblock %}
