{% extends "vws_main/header.html" %}

{% block content %}

<div class="container">
  <div class="page-header">
      <h2>Events</h2>
      <hr>
  </div>
  <p>Events are listed in chronological order.</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-striped">
    <thead class="table table-primary">
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for event in object_list %}
      <tr>
        <td><a href="{{event.name|slugify}}">{{event.name}}</a></td>
        <td>{{event.date}}</td>
        <td>{{event.result}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}
