{% extends "vws_main/header.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2>{{object.name}}</h2>
        <hr />
        <h5>{{object.result}}</h5>
    </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead class="table-primary">
        <tr>
          <th>MatchID</th>
          <th>Focus</th>
          <th>Result</th>
          <th>Opponent</th>
          <th>Focus Score</th>
          <th>Opponent Score</th>
        </tr>
      </thead>
      <tbody>
        {% for match in object.matches.all %}
        <tr>
          <td><a href="/matchdata/{{match.matchID}}/">{{match.matchID}}</a></td>
          <td><a href="/wrestlers/{{match.focus.slug}}/">{{match.focus.name}}</a></td>
          <td>{{match.result}}</td>
          <td><a href="/wrestlers/{{match.opponent.slug}}/">{{match.opponent.name}}</a></td>
          <td>{{match.focus_score}}</td>
          <td>{{match.opp_score}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
