<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139393698-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-139393698-1');
    </script>
    <title>Veritas Analytics</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="{% static 'vws_main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vws_main/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'vws_main/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'vws_main/css/addons/datatables.min.css' %}" rel="stylesheet">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <style type="text/css">
    body {
      background-color: #f6f6f6;
    }
    </style>
  </head>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark indigo darken-2">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">Vertias Analytics</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="/">Home
    <span class="sr-only">(current)</span>
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/fs_ratings">Ratings</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/compare">Versus</a>
    </li>
    </ul>
    <!-- Links -->
    </div>
  </nav>
  <br/>
  <body>
    <div class="container">
      <div class="page-header">
        <h2>Match {{object.matchID}}<small> Info: </small></h2>
      <hr class="yellow"/>
    </div>

    <h3>Match Stats</h3>
    <p>Click on a wrestler to see their profile.</p>
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <caption>Match info for match '{{object.matchID}}'</caption>
        <thead class="indigo white-text">
          <tr>
            <th>MatchID</th>
            <th>Date</th>
            <th>Weight</th>
            <th>Focus</th>
            <th>Result</th>
            <th>Opponent</th>
            <th>FocusScore</th>
            <th>OppScore</th>
            <th>Duration</th>
            <th>HIa</th>
            <th>HIc2</th>
            <th>HIc4</th>
            <th>HOa</th>
            <th>HOc2</th>
            <th>HOc4</th>
            <th>Da</th>
            <th>Dc2</th>
            <th>Dc4</th>
            <th>LSa</th>
            <th>LSc2</th>
            <th>LSc4</th>
            <th>GBa</th>
            <th>GBc2</th>
            <th>Ta</th>
            <th>Tc2</th>
            <th>Tc4</th>
            <th>Exposure</th>
            <th>Gut</th>
            <th>LegLace</th>
            <th>Turn</th>
            <th>Recovery</th>
            <th>Pushout</th>
            <th>Passive</th>
            <th>Violation</th>
            <th>oHIa</th>
            <th>oHIc2</th>
            <th>oHIc4</th>
            <th>oHOa</th>
            <th>oHOc2</th>
            <th>oHOc4</th>
            <th>oDa</th>
            <th>oDc2</th>
            <th>oDc4</th>
            <th>oLSa</th>
            <th>oLSc2</th>
            <th>oLSc4</th>
            <th>oGBa</th>
            <th>oGBc2</th>
            <th>oTa</th>
            <th>oTc2</th>
            <th>oTc4</th>
            <th>oExposure</th>
            <th>oGut</th>
            <th>oLegLace</th>
            <th>oTurn</th>
            <th>oRecovery</th>
            <th>oPushout</th>
            <th>oPassive</th>
            <th>oViolation</th>
            <th>HI%</th>
            <th>HO%</th>
            <th>D%</th>
            <th>LS%</th>
            <th>GB%</th>
            <th>Throw%</th>
            <th>NPF</th>
            <th>APM</th>
            <th>VS</th>
            <th>oHI%</th>
            <th>oHO%</th>
            <th>oD%</th>
            <th>oLS%</th>
            <th>oGB%</th>
            <th>oThrow%</th>
            <th>oNPF</th>
            <th>oAPM</th>
            <th>oVS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{object.matchID}}</td>
              <td>{{object.date}}</td>
              <td>{{object.weight}}</td>
              <td><a href="/fs_wrestlers/{{object.focus.slug}}/" class="primary-text">{{object.focus.name}}</a></td>
              <td>{{object.result}}</td>
              <td><a href="/fs_wrestlers/{{object.opponent.slug}}/">{{object.opponent.name}}</a></td>
              <td>{{object.focus_score}}</td>
              <td>{{object.opp_score}}</td>
              <td>{{object.duration}}</td>
              <td>{{object.hia}}</td>
              <td>{{object.hic2}}</td>
              <td>{{object.hic4}}</td>
              <td>{{object.hoa}}</td>
              <td>{{object.hoc2}}</td>
              <td>{{object.hoc4}}</td>
              <td>{{object.da}}</td>
              <td>{{object.dc2}}</td>
              <td>{{object.dc4}}</td>
              <td>{{object.lsa}}</td>
              <td>{{object.lsc2}}</td>
              <td>{{object.lsc4}}</td>
              <td>{{object.gba}}</td>
              <td>{{object.gbc2}}</td>
              <td>{{object.ta}}</td>
              <td>{{object.tc2}}</td>
              <td>{{object.tc4}}</td>
              <td>{{object.exposure}}</td>
              <td>{{object.gut}}</td>
              <td>{{object.leg_lace}}</td>
              <td>{{object.turn}}</td>
              <td>{{object.recovery}}</td>
              <td>{{object.pushout}}</td>
              <td>{{object.passive}}</td>
              <td>{{object.violation}}</td>
              <td>{{object.opp_hia}}</td>
              <td>{{object.opp_hic2}}</td>
              <td>{{object.opp_hic4}}</td>
              <td>{{object.opp_hoa}}</td>
              <td>{{object.opp_hoc2}}</td>
              <td>{{object.opp_hoc4}}</td>
              <td>{{object.opp_da}}</td>
              <td>{{object.opp_dc2}}</td>
              <td>{{object.opp_dc4}}</td>
              <td>{{object.opp_lsa}}</td>
              <td>{{object.opp_lsc2}}</td>
              <td>{{object.opp_lsc4}}</td>
              <td>{{object.opp_gba}}</td>
              <td>{{object.opp_gbc2}}</td>
              <td>{{object.opp_ta}}</td>
              <td>{{object.opp_tc2}}</td>
              <td>{{object.opp_tc4}}</td>
              <td>{{object.opp_exposure}}</td>
              <td>{{object.opp_gut}}</td>
              <td>{{object.opp_leg_lace}}</td>
              <td>{{object.opp_turn}}</td>
              <td>{{object.opp_recovery}}</td>
              <td>{{object.opp_pushout}}</td>
              <td>{{object.opp_passive}}</td>
              <td>{{object.opp_violation}}</td>
              <td>{{object.hi_rate}}</td>
              <td>{{object.ho_rate}}</td>
              <td>{{object.d_rate}}</td>
              <td>{{object.ls_rate}}</td>
              <td>{{object.gb_rate}}</td>
              <td>{{object.t_rate}}</td>
              <td>{{object.npf}}</td>
              <td>{{object.apm}}</td>
              <td>{{object.vs}}</td>
              <td>{{object.opp_hi_rate}}</td>
              <td>{{object.opp_ho_rate}}</td>
              <td>{{object.opp_d_rate}}</td>
              <td>{{object.opp_ls_rate}}</td>
              <td>{{object.opp_gb_rate}}</td>
              <td>{{object.opp_t_rate}}</td>
              <td>{{object.opp_npf}}</td>
              <td>{{object.opp_apm}}</td>
              <td>{{object.opp_vs}}</td>
            </tr>
            </tbody>
      </table>
    </div>

    <br />

    <h3>Match Timeseries</h3>
      <div class="table-responsive">
        <table id="tstable" class="table table-hover table-sm">
          <caption>Timeseries for match '{{object.matchID}}' <br />
              Blue: {{object.focus.name}} | Red: {{object.opponent.name}}</caption>
          <thead class="indigo white-text">
            <tr>
              <th><a data-toggle="popover" data-trigger="hover" title="Event Number" data-content="">Event Number</a></th>
              <th><a data-toggle="popover" data-trigger="hover" title="Event Label"
                  data-content="b_ prefix = Blue  |  r_ prefix = Red">Event Label</a></th>
              <th><a data-toggle="popover" data-trigger="hover" title="Event Time" data-content="in seconds">Event_Time</a></th>
              <th><a data-toggle="popover" data-trigger="hover" title="Blue Points" data-content="">Blue</a></th>
              <th><a data-toggle="popover" data-trigger="hover" title="Red Points" data-content="">Red</a></th>
            </tr>
          </thead>
          <tbody>
          {% for row in object.actions2.all %}
            <tr>
              <td>{{row.event_num}}</td>
              <td>{{row.event_lab}}</td>
              <td>{{row.event_time}}</td>
              <td>{{row.blue}}</td>
              <td>{{row.red}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'vws_main/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/addons/datatables.min.js' %}"></script>
  </body>

  <footer class="page-footer fixed-bottom font-small indigo">
    <div class="text-center">
      Scientia potentia est. |
      Contact: nanthony007@gmail.com
    </div>
  </footer>

</html>

<script type="text/javascript">
  new WOW().init();
  $('[data-toggle="popover"]').popover();
  $('.popover-dismiss').popover({
    trigger: 'focus'
  });
  $(document).ready(function () {
    $('#tstable').DataTable({
      'info': false,
      'paging':false,
      'scrollY': '500px',
      'scrollCollapse': true,
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script>
