{% extends "vws_main/header.html" %}

{% block content %}
{% load widget_tweaks %}

<div class="container">
    <div class="page-header">
        <h2>Freestyle Ratings</h2>
        <hr />
    </div>

<p>Use the navigation menu below to search/view athletes in each tier.<br />
  There is a one match minimum requirement to be listed in the ratings. <br />
  Displays top 20 wrestlers based on search criteria.</p>

<form method="get">
  <div class="container">
    <div class="row">
      <div class="form-group col-md-2">
        {{ filter.form.name.label_tag }}
        {% render_field filter.form.name class="form-control" %}
      </div>
      <div class="form-group col-md-2">
        {{ filter.form.team.label_tag }}
        {% render_field filter.form.team class="form-control" %}
      </div>
      <div class="form-group col-md-2">
        {{ filter.form.tier.label_tag }}
        {% render_field filter.form.tier class="form-control" %}
      </div>
      <div class="form-group col-md-2">
        {{ filter.form.weight.label_tag }}
        {% render_field filter.form.weight class="form-control" %}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<br />

<table class="table table-sm table-striped">
  <thead class="table-primary">
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Rating</th>
      <th>Matches</th>
    </tr>
  </thead>
  <tbody>
    {% for wrestler in filter.qs %}
      <tr>
        <td><a href="/fs_wrestlers/{{wrestler.slug}}">{{ wrestler.name }}</a></td>
        <td><a href="/fs_teams/{{wrestler.team.slug}}">{{ wrestler.team.abbreviation }}</a></td>
        <td>{{ wrestler.rating }}</td>
        <td>{{ wrestler.match_count }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}
