<!DOCTYPE html>
<html lang="en">

<head>
	<title>Veritas Wrestling Systems</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'vws_main/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,	body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#ffffff">
	<div class="container-fluid" style="min-height:95%; ">
		<div>
				  <center>
					<a href='/'>
						<img src="{% static 'vws_main/img/VWShighmini.png' %}" style="width:100%"; alt="logo">
					</a>
				  <h3>Programming, Teaching, Entrepreneurship</h3>
				  </center>
		</div>
		<ul class="nav justify-content-center" style="background-color:#f6f6f6">
		  <li class="nav-item">
		    <a class="nav-link active" href="/">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/contact">Contact</a>
		  </li>
			<li class="nav-item">
				<a class="nav-link" href="/wrestlers">Wrestlers</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/matchdata">Matches</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/teams">Teams</a>
			</li>
		</ul>

		  <div class="col-sm-10">

			<div class='container-fluid'>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style="margin-left:15px" align="center">
			<p style="background-color:lightblue">“Scientia potentia est. Knowing is power.”</p>
		</div>
	</footer>

</body>

</html>
