<!DOCTYPE html>
<html lang="en">

<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139393698-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-139393698-1');
	</script>
	<title>Veritas Analytics</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link href="{% static 'vws_main/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'vws_main/css/mdb.min.css' %}" rel="stylesheet">
	<link href="{% static 'vws_main/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'vws_main/css/addons/datatables.min.css' %}" rel="stylesheet">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<style type="text/css">
		body {
			background-color: #f6f6f6;
		}
	</style>
</head>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark indigo darken-2">
<!-- Navbar brand -->
<!--
<a class="navbar-brand" href="/">Vertias Analytics</a>
-->
<!-- Collapse button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
  aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<!-- Collapsible content -->
<div class="collapse navbar-collapse" id="basicExampleNav">
  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ratings">Ratings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'profile' %}">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'register' %}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
  {% endif %}
  </ul>
  <!-- Links -->
</div>
</nav>

<br />

<body>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}

{% block content %}
{% endblock %}

</body>

<br />

<footer class="page-footer fixed-bottom font-small indigo">
  <div class="text-center">
      <h6>
    Scientia potentia est <!--|
    Contact: nanthony007@gmail.com -->
      </h6>
  </div>
</footer>

</html>

