{% extends "vws_main/header.html" %}
{% load staticfiles %}


{% block content %}

<div class="view">
    <img src="{% static 'vws_main/img/funinternet.png' %}" class="img-fluid" alt="No Image" style="width:100%">
  <!-- Mask & flexbox options-->
  <div class="mask d-flex justify-content-left align-items-left">
    <!-- Content -->
    <div class="white-text mx-5 wow fadeIn">
      <div class="row">
        <div class="col col-sm-6">
        <div class="page-header text-center">
          <br />
          <h1 style="color: rgb(39, 15, 170)">Driving Performance with Advanced Statistics</h1>
          <hr class="yellow"/>
        </div>
          <h4 style="color: rgb(95, 94, 117)" class="text-center">
            We breakdown and analyze every move wrestlers make to bring you the most up-to-date advanced statistics possible.</h4>
            <br />
          <p style="color: rgb(95, 94, 117)">
            All our content is open-source. Available on 
            <a href="https://github.com/nanthony007/VeritasAnalytics-Website" target="_blank">GitHub.</a> 
          </p> 
          <h6 style="color: rgb(95, 94, 117)" class="text-right">
            Built using Python, Django, and Postgres | Powered by Heroku
          </h6>
          <h6 style="color: rgb(95, 94, 117)" class="text-right">
            Developed and maintained by Nicholas Anthony
          </h6>
        </div>
      </div>
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col col-sm-6">
      <h3 style="color: rgb(39, 15, 170)">Log In</h3>
      <hr class="yellow"/>
      <div>
          <form method="POST" style="color: rgb(95, 94, 117)">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-indigo" type="submit">Login</button>
          </form>
          <div>
              <small class="text-muted">Need An Account? <a href="{% url 'register' %}">Sign Up Now</a></small>
          </div>
      </div>
        </div>
    {% endif %}

  </div>
  </div>
  <!-- Mask & flexbox options-->
</div>
</div>
  
    <script type="text/javascript" src="{% static 'vws_main/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/addons/datatables.min.js' %}"></script>

{% endblock %}



<script type="text/javascript">
  new WOW().init();
</script>
  