{% extends "vws_main/header.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Welcome!</h1>
        <hr>
    </div>

<p>Veritas Wrestling Systems is a dedicated open-source statistics provider for the sport of wrestling.
  <br>
  You can find our website and collector program on GitHub at:</p>
      <li><a href="https://github.com/nanthony007/VeritasWrestling-Website">
        VeritasWrestling-Website</a></li>
      <li><a href="https://github.com/nanthony007/VeritasWrestling-DataCollector">
        VeritasWrestling-DataCollector</a></li>

<p>There is an abbreviations file with explantions and formulas in the collector repository.</p>
<br>

<p>Contact at: nanthony007@gmail.com
<br>
Built using Python and Django | Powered by Heroku | Developed and maintained by Nicholas Anthony</p>

</div>
{% endblock %}
