{% extends "vws_main/header.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Match {{object.matchID}}<small> Info: </small></h1>
        <hr>
    </div>

<h3>Match Stats</h3>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered table-sm">
    <caption>Match info for match '{{object.matchID}}'</caption>
    <thead class="table-primary">
      <tr>
        <th>MatchID</th>
        <th>Date</th>
        <th>Weight</th>
        <th>Focus</th>
        <th>Result</th>
        <th>Opponent</th>
        <th>Focus Score</th>
        <th>Opp Score</th>
        <th>Duration</th>
        <th>HIa</th>
        <th>HIc</th>
        <th>HOa</th>
        <th>HOc</th>
        <th>Da</th>
        <th>Dc</th>
        <th>LSa</th>
        <th>LSc</th>
        <th>GBa</th>
        <th>GBc</th>
        <th>Ta</th>
        <th>Tc</th>
        <th>SU</th>
        <th>E</th>
        <th>R</th>
        <th>Cut</th>
        <th>BD</th>
        <th>MR</th>
        <th>NF2</th>
        <th>NF4</th>
        <th>Caution</th>
        <th>TV</th>
        <th>RT</th>
        <th>oHIa</th>
        <th>oHIc</th>
        <th>oHOa</th>
        <th>oHOc</th>
        <th>oDa</th>
        <th>oDc</th>
        <th>oLSa</th>
        <th>oLSc</th>
        <th>oGBa</th>
        <th>oGBc</th>
        <th>oTa</th>
        <th>oTc</th>
        <th>oSU</th>
        <th>oE</th>
        <th>oR</th>
        <th>oCut</th>
        <th>oBD</th>
        <th>oMR</th>
        <th>oNF2</th>
        <th>oNF4</th>
        <th>oCaution</th>
        <th>oTV</th>
        <th>oRT</th>
        <th>HI%</th>
        <th>HO%</th>
        <th>D%</th>
        <th>LS%</th>
        <th>GB%</th>
        <th>Throw%</th>
        <th>TD%</th>
        <th>APM</th>
        <th>VS</th>
        <th>oHI%</th>
        <th>oHO%</th>
        <th>oD%</th>
        <th>oLS%</th>
        <th>oGB%</th>
        <th>oThrow%</th>
        <th>oTD%</th>
        <th>oAPM</th>
        <th>oVS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{object.matchID}}</td>
        <td>{{object.date}}</td>
        <td>{{object.weight}}</td>
        <td><a href="/wrestlers/{{object.focus.slug}}/">{{object.focus.name}}</a></td>
        <td>{{object.result}}</td>
        <td><a href="/wrestlers/{{object.opponent.slug}}/">{{object.opponent.name}}</a></td>
        <td>{{object.focus_score}}</td>
        <td>{{object.opp_score}}</td>
        <td>{{object.duration}}</td>
        <td>{{object.hia}}</td>
        <td>{{object.hic}}</td>
        <td>{{object.hoa}}</td>
        <td>{{object.hoc}}</td>
        <td>{{object.da}}</td>
        <td>{{object.dc}}</td>
        <td>{{object.lsa}}</td>
        <td>{{object.lsc}}</td>
        <td>{{object.gba}}</td>
        <td>{{object.gbc}}</td>
        <td>{{object.ta}}</td>
        <td>{{object.tc}}</td>
        <td>{{object.su}}</td>
        <td>{{object.e}}</td>
        <td>{{object.r}}</td>
        <td>{{object.cut}}</td>
        <td>{{object.bd}}</td>
        <td>{{object.mr}}</td>
        <td>{{object.nf2}}</td>
        <td>{{object.nf4}}</td>
        <td>{{object.caution}}</td>
        <td>{{object.tv}}</td>
        <td>{{object.rt}}</td>
        <td>{{object.opp_hia}}</td>
        <td>{{object.opp_hic}}</td>
        <td>{{object.opp_hoa}}</td>
        <td>{{object.opp_hoc}}</td>
        <td>{{object.opp_da}}</td>
        <td>{{object.opp_dc}}</td>
        <td>{{object.opp_lsa}}</td>
        <td>{{object.opp_lsc}}</td>
        <td>{{object.opp_gba}}</td>
        <td>{{object.opp_gbc}}</td>
        <td>{{object.opp_ta}}</td>
        <td>{{object.opp_tc}}</td>
        <td>{{object.opp_su}}</td>
        <td>{{object.opp_e}}</td>
        <td>{{object.opp_r}}</td>
        <td>{{object.opp_cut}}</td>
        <td>{{object.opp_bd}}</td>
        <td>{{object.opp_mr}}</td>
        <td>{{object.opp_nf2}}</td>
        <td>{{object.opp_nf4}}</td>
        <td>{{object.opp_caution}}</td>
        <td>{{object.opp_tv}}</td>
        <td>{{object.opp_rt}}</td>
        <td>{{object.hi_rate}}</td>
        <td>{{object.ho_rate}}</td>
        <td>{{object.d_rate}}</td>
        <td>{{object.ls_rate}}</td>
        <td>{{object.gb_rate}}</td>
        <td>{{object.t_rate}}</td>
        <td>{{object.td_rate}}</td>
        <td>{{object.apm}}</td>
        <td>{{object.vs}}</td>
        <td>{{object.opp_hi_rate}}</td>
        <td>{{object.opp_ho_rate}}</td>
        <td>{{object.opp_d_rate}}</td>
        <td>{{object.opp_ls_rate}}</td>
        <td>{{object.opp_gb_rate}}</td>
        <td>{{object.opp_t_rate}}</td>
        <td>{{object.opp_td_rate}}</td>
        <td>{{object.opp_apm}}</td>
        <td>{{object.opp_vs}}</td>
      </tr>
    </tbody>
  </table>
</div>

<br>

<h3>Match Timeseries</h3>
<div class="table-responsive">
  <table class="table table-hover table-sm">
    <caption>Timeseries for match '{{object.matchID}}'</caption>
    <thead class="table-primary">
      <tr>
        <th>Event_Num</th>
        <th>Event_Label</th>
        <th>Event_Time</th>
        <th>Blue</th>
        <th>Red</th>
      </tr>
    </thead>
    <tbody>
      {% for row in matchdata.actions.all %}
      <tr>
        <td>{{row.event_num}}</td>
        <td>{{row.event_lab}}</td>
        <td>{{row.event_time}}</td>
        <td>{{row.blue}}</td>
        <td>{{row.red}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
{% endblock %}
