{% extends "vws_main/header.html" %}

{% block content %}
<h1>List of matches</h1>

<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th>MatchID</th>
      <th>Date</th>
      <th>Blue</th>
      <th>Red</th>
      <th>Blue Score</th>
      <th>Red Score</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    {% for match in object_list %}
    <tr>
      <td><a href="{{match.matchID}}/">{{match.matchID}}</a></td>
      <td>{{match.date}}</td>
      <td>{{match.blue}}</td>
      <td>{{match.red}}</td>
      <td>{{match.blue_score}}</td>
      <td>{{match.red_score}}</td>
      <td>{{match.result}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
