{% extends "vws_main/header.html" %}

{% block content %}
<h1>List of Matches</h1>
<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead class="table-primary">
      <tr>
        <th>MatchID</th>
        <th>Date</th>
        <th>Blue</th>
        <th>Red</th>
        <th>Blue Score</th>
        <th>Red Score</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {% for match in object_list %}
      <tr>
        <td><a href="{{match.matchID}}/">{{match.matchID}}</a></td>
        <td>{{match.date}}</td>
        <td><a href="/wrestlers/{{match.focus | slugify}}/">{{match.focus}}</a></td>
        <td><a href="/wrestlers/{{match.opponent | slugify}}/">{{match.opponent}}</a></td>
        <td>{{match.focus_score}}</td>
        <td>{{match.opp_score}}</td>
        <td>{{match.result}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
