{% extends "vws_main/header.html" %}

{% block content %}
{% load widget_tweaks %}

<h1>Ratings</h1>
<p>Use the navigation menu below to search/view athletes in each tier.<br>
<!-- Looking for weight-class rankings?  Click <a href="/weight_classes/"><em>HERE</em></a></p> -->

<form method="get">
  <div class="well">
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        {{ filter.form.name.label_tag }}
        {% render_field filter.form.name class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        {{ filter.form.team.label_tag }}
        {% render_field filter.form.team class="form-control" %}
      </div>
      <div class="form-group col-sm-4 col-md-3">
        {{ filter.form.tier.label_tag }}
        {% render_field filter.form.tier class="form-control" %}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </div>
</form>

<br>

<table class="table table-sm">
  <thead class="table-primary">
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for wrestler in filter.qs %}
      <tr>
        <td><a href="/wrestlers/{{wrestler.name | slugify}}">{{ wrestler.name }}</a></td>
        <td><a href="/teams/{{wrestler.team | slugify}}">{{ wrestler.team }}</a></td>
        <td>{{ wrestler.rating }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
