{% extends "vws_main/header.html" %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart','bar']});
  google.charts.setOnLoadCallback(drawShotChart);
  google.charts.setOnLoadCallback(drawResultsChart);

  function drawResultsChart() {
  var data = google.visualization.arrayToDataTable([
    ['Result', 'Focus', 'Opponent'],
    ['Fall', {{object.pin_count}}, {{object.fall_loss_count}}],
    ['Tech', {{object.tech_count}}, {{object.tech_loss_count}}],
    ['Decision', {{object.win_count}}, {{object.loss_count}}],
  ]);

  var options = {
    chart: {
      title: 'Results',
    },
    bars: 'horizontal' // Required for Material Bar Charts.
  };

  var chart = new google.charts.Bar(document.getElementById('result_barchart'));

  chart.draw(data, google.charts.Bar.convertOptions(options));
}
  function drawShotChart() {
  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'ShotType');
  data.addColumn('number', 'ConversionRate');
  data.addColumn('number', 'OppConversionRate');
  data.addRows([
    ['Head Inside', {{object.hi_rate}}, {{object.opp_hi_rate}}],
    ['Head Outside', {{object.ho_rate}}, {{object.opp_ho_rate}}],
    ['Double', {{object.d_rate}}, {{object.opp_d_rate}}],
    ['Low Shot', {{object.ls_rate}}, {{object.opp_ls_rate}}],
    ['Go Behind/Counter', {{object.gb_rate}}, {{object.opp_gb_rate}}],
    ['Throw', {{object.t_rate}}, {{object.opp_t_rate}}],
  ]);
  // Set chart options
  var options = {'title':'Shot Chart'};
  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.BarChart(document.getElementById('shot_chart_div'));
  chart.draw(data, options);
  }
</script>

<div class="container">
  <div class="page-header">
      <h2>Report for {{object.name}}</h2>
      <hr />
  </div>
  <p>Reports are generated based on selected athlete.</p>
  <br />
  <div class="well">
    <div class="row">
      <div class="col" id="result_barchart" style="width: 700px; height: 500px"></div>
      <div class="col" id="shot_chart_div" style="width: 700px; height: 500px"></div>
    </div>
  </div>

</div>

{% endblock %}
