{% extends "vws_main/header.html" %}
{% load staticfiles %}


{% block content %}

    <style type="text/css">
    .iframe-container {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        height: 100%;
    }
    .iframe-container iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    </style>
    <!-- content here -->
    <div class="container">
        <div class="page-header text-center">
            <br />
            <h1 style="color: rgb(39, 15, 170)">{{ object.name }}</h1>
            <hr class="yellow"/>
        </div>
        <p>To view independently in another tab, click <a href="{{ object.report.url }}" target="_blank">here</a>.</p>

        <div class="iframe-container">
            <iframe src="{{ object.report.url }}" allowfullscreen></iframe>
        </div>
    </div>

    <!-- stop content -->
   
    <script type="text/javascript" src="{% static 'vws_main/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/addons/datatables.min.js' %}"></script>

    <script type="text/javascript">
        new WOW().init();
    </script>

{% endblock %}