{% extends "vws_main/header.html" %}

{% block content %}
{% load widget_tweaks %}

<h2>Ratings by Weight-Class</h2>
<h6>Last updated: </h6>

<form method="get">
  <div class="well">
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        {{ filter.form.weight_classes.label_tag }}
        {% render_field filter.form.weight_classes class="form-control" %}
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </div>
</form>

<br>

<table class="table table-sm">
  <thead class="table-primary">
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for wrestler in filter.qs %}
      <tr>
        <td><a href="/wrestlers/{{wrestler.name | slugify}}">{{ wrestler.name }}</a></td>
        <td><a href="/teams/{{wrestler.team | slugify}}">{{ wrestler.team }}</a></td>
        <td>{{ wrestler.rating }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
