{% extends "vws_main/header.html" %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h2>{{object.name}}</h2>
        <hr />
    </div>

    <div class="well">
      <div class="row">
        <div class="col-sm">
          <h5>Profile:</h5>
        </div>
        <div class="col-sm">
          <h5>Base Stats:</h5>
        </div>
        <div class="col-sm">
          <h5>Advanced Stats:</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <p>Name | {{object.name}}</p>
        </div>
        <div class="col-sm">
          <p>Matches | {{object.match_count}}</p>
        </div>
        <div class="col-sm">
          <p>Avg. NPF | {{object.npf}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <p>Team | <a href="/teams/{{object.team.slug}}/">{{wrestler.team.name}}</a></p>
        </div>
        <div class="col-sm">
          <p>Points Earned | {{object.points_earned}}</p>
        </div>
        <div class="col-sm">
          <p>Veritas Points | {{object.vp}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <p>Year | {{object.eligibility}}</p>
        </div>
        <div class="col-sm">
          <p>Points Allowed | {{object.points_allowed}}</p>
        </div>
        <div class="col-sm">
          <p>APM | {{object.apm}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <p>Rating | {{object.rating}}</p>
        </div>
        <div class="col-sm">
          <p>Avg. Result | {{object.avg_result|floatformat:2}}</p>
        </div>
        <div class="col-sm">
          <p>oAPM | {{object.oapm}}</p>
        </div>
      </div>
    </div>

<h3>Matches:</h3>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead class="table-primary">
        <tr>
          <th>MatchID</th>
          <th>Date</th>
          <th>Focus</th>
          <th>Result</th>
          <th>Opponnent</th>
          <th>Focus Score</th>
          <th>Opp Score</th>
        </tr>
      </thead>
      <tbody>
        {% for match in object.focus_wrestler.all %}
            <tr>
              <td><a href="/matchdata/{{match.matchID}}/">{{match.matchID}}</a></td>
              <td>{{match.date}}</td>
              <td><a href="/wrestlers/{{match.focus.name | slugify}}/">{{match.focus.name}}</a></td>
              <td>{{match.result}}</td>
              <td><a href="/wrestlers/{{match.opponent.name | slugify}}/">{{match.opponent.name}}</a></td>
              <td>{{match.focus_score}}</td>
              <td>{{match.opp_score}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
