{% extends "vws_main/header.html" %}

{% block content %}
<h1>Hiya there</h1>
<table class="table table-dark table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Eligibility</th>
      <th>EloRating</th>
    </tr>
  </thead>
  <tbody>
    {% for wrestler in object_list %}
    <tr>
      <td>{{wrestler.name}}</td>
      <td>{{wrestler.team}}</td>
      <td>{{wrestler.eligibility}}</td>
      <td>{{wrestler.rating}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
