{% extends "vws_main/header.html" %}
{% load staticfiles %}


{% block content %}
    <!-- content here -->
    <div class="container">
        <div class="page-header text-center">
            <br />
            <h1 style="color: rgb(39, 15, 170)">About Me</h1>
            <hr class="yellow"/>
        </div>
        <div class="row">
            <h2>Nicholas Anthony</h2>
        </div>
        <div class="row">
            <ul style="color: rgb(95, 94, 117)">
                <li><h4>nicholas.anthony@mg.thedataincubator.com </h4></li>
                <li><h4>Wrestling for 20 years and coaching for 4 years</h4></li> 
                <li><h4>Finished 5th at Greco-Roman World Team Trials 2018</h4></li> 
            </ul>
        </div>
    </div>


    <!-- stop content -->
   
    <script type="text/javascript" src="{% static 'vws_main/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/addons/datatables.min.js' %}"></script>

    <script type="text/javascript">
        new WOW().init();
    </script>

{% endblock %}

