{% extends "vws_main/header.html" %}
{% load staticfiles %}


{% block content %}
    <!-- content here -->
  <div class="container">
    <h2>Advanced Stats</h2>
    <hr class="yellow" />
      <div class="row">
      <div class="col-3 text-center"><p><small></small></p></div>
        <div class="col-5">
          <div class="table-responsive text-center">
            <table class="table table-sm table-hover">
              <thead class="indigo white-text">
                <tr>
                  <th>{{w1_df.Focus.values.0}}</th>
                  <th><em>vs.</em></th>
                  <th>{{w2_df.Focus.values.0}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{w1_df.FocusPoints.sum}}</td>
                  <td><a data-toggle="popover" data-placement="top" data-trigger="hover" title="Effective Counter Rate"
                         data-content="Conditional Counters including Exposures">Points Earned</a></td>
                  <td>{{w2_df.FocusPoints.sum}}</td>
                </tr>
                <tr>
                  <td>{{w1_df.NPF.mean | floatformat:2}}</td>
                  <td><a data-toggle="popover" data-placement="top" data-trigger="hover" title="Neutral Pace Factor RATE"
                         data-content="(TD conv/match TD conv) + (TD att/match TD att)">NPF</a></td>
                  <td>{{w2_df.NPF.mean | floatformat:2}}</td>
                </tr>
                <tr>
                  <td>{{w1_df.APM.mean | floatformat:2}}</td>
                  <td><a data-toggle="popover" data-placement="top" data-trigger="hover" title="Action per Minute"
                     data-content="(Defense + Offense) / Duration">APM</a></td>
                  <td>{{w2_df.APM.mean | floatformat:2}}</td>
                </tr>
                <tr>
                  <td>{{w1_df.NumResult.mean | floatformat:2}}</td>
                  <td><a data-toggle="popover" data-placement="top" data-trigger="hover" title="Average Result"
                     data-content="WinF: 1.75\nWinTF: 1.50">Avg. Result</a></td>
                  <td>{{w2_df.NumResult.mean | floatformat:2}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h1>
            {{prediction}}
        </h1>
        <h1>{{w1_df.columns}}</h1>
    </div>
    <!-- stop content -->
   
    <script type="text/javascript" src="{% static 'vws_main/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/addons/datatables.min.js' %}"></script>
    
    <script type="text/javascript">
      new WOW().init();
      new WOW().init();
      $('[data-toggle="popover"]').popover();
      $('.popover-dismiss').popover({
        trigger: 'focus'
      });
    </script>
    
{% endblock %}

