{% extends "vws_main/header.html" %}
{% load staticfiles %}
{% load plotly_dash %}

{% block content %}
<br />
<div class="container">

  {% plotly_app name="Dash101" ratio=1.0%}

</div>

<script type="text/javascript" src="{% static 'vws_main/js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vws_main/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vws_main/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vws_main/js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vws_main/js/addons/datatables.min.js' %}"></script>

<script type="text/javascript">
  new WOW().init();
</script>
{% endblock %}