<!DOCTYPE html>
<html lang="en">

<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139393698-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-139393698-1');
	</script>
	<title>Veritas Analytics</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link href="{% static 'vws_main/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'vws_main/css/mdb.min.css' %}" rel="stylesheet">
	<link href="{% static 'vws_main/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'vws_main/css/addons/datatables.min.css' %}" rel="stylesheet">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<style type="text/css">
		body {
			background-color: #f6f6f6;
		}
	</style>
</head>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark indigo darken-2">
<!-- Navbar brand -->
<a class="navbar-brand" href="/">Vertias Analytics</a>
<!-- Collapse button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
  aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<!-- Collapsible content -->
<div class="collapse navbar-collapse" id="basicExampleNav">
  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/fs_ratings">Ratings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/compare">Versus</a>
    </li>
  </ul>
  <!-- Links -->
</div>
</nav>

<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <!-- content here -->
    <div class="container">
      <div>
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
        <hr class="yellow">

        <div class="row">
            <div class="col">
                <p>57 kilos</p>
                <p>{{ user.profile.roster57.name }}</p>
            </div>
                        <div class="col">
                <p>61 kilos</p>
                <p>{{ user.profile.roster61.name }}</p>
            </div>
                        <div class="col">
                <p>65 kilos</p>
                <p>{{ user.profile.roster65.name }}</p>
            </div>
                        <div class="col">
                <p>70 kilos</p>
                <p>{{ user.profile.roster70.name }}</p>
            </div>
                        <div class="col">
                <p>74 kilos</p>
                <p>{{ user.profile.roster74.name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>79 kilos</p>
                <p>{{ user.profile.roster79.name }}</p>
            </div>
                        <div class="col">
                <p>86 kilos</p>
                <p>{{ user.profile.roster86.name }}</p>
            </div>
                        <div class="col">
                <p>92 kilos</p>
                <p>{{ user.profile.roster92.name }}</p>
            </div>
                        <div class="col">
                <p>97 kilos</p>
                <p>{{ user.profile.roster97.name }}</p>
            </div>
                        <div class="col">
                <p>125 kilos</p>
                <p>{{ user.profile.roster125.name }}</p>
            </div>
        </div>
        <hr  class="yellow">
  <div class="row">
    <canvas id="rosterlinechart"></canvas>
  </div>

        <hr class="yellow">
    <div class="page-header">
        <h2><em>Versus!</em></h2>
        <hr />
    </div>

    <h3>Compare your favorite wrestlers and see who would win!</h3>
    <h6>Be sure to enter athlete names as found on our <a href="/fs_ratings/">Ratings</a> page.</h6>

    <form method="POST">{% csrf_token %}
      <!--<input type="text" name="wrestler1" value="Jason Nolf">-->
			<select name="wrestler1">
			  <option value="{{ user.profile.roster57.name }}">{{ user.profile.roster57.name }}</option>
				<option value="{{ user.profile.roster61.name }}">{{ user.profile.roster61.name }}</option>
				<option value="{{ user.profile.roster65.name }}">{{ user.profile.roster65.name }}</option>
				<option value="{{ user.profile.roster70.name }}">{{ user.profile.roster70.name }}</option>
				<option value="{{ user.profile.roster74.name }}">{{ user.profile.roster74.name }}</option>
				<option value="{{ user.profile.roster79.name }}">{{ user.profile.roster79.name }}</option>
				<option value="{{ user.profile.roster86.name }}">{{ user.profile.roster86.name }}</option>
				<option value="{{ user.profile.roster92.name }}">{{ user.profile.roster92.name }}</option>
				<option value="{{ user.profile.roster97.name }}">{{ user.profile.roster97.name }}</option>
				<option value="{{ user.profile.roster125.name }}">{{ user.profile.roster125.name }}</option>
			</select>
      <input type="text" name="wrestler2" value="">
      <input type="submit" value="Submit" onclick="showhideFunction()">
    </form>

    <br />
    <div class="row">
        <div class="col">
            {{prediction}}
        </div>
    </div>

    </div>
<!--        <form method="POST" enctype="multipart/form-data">
            <fieldset class="form-group">
                <legend>Profile Info</legend>
                {% csrf_token %}
                 {{ u_form }}
                 {{ p_form }}
                {{ roster_form }}
            </fieldset>
            <button class="btn" type="submit">Update</button>
        </form> -->

    <!-- stop content -->
    <script type="text/javascript" src="{% static 'vws_main/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/mdb.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vws_main/js/addons/datatables.min.js' %}"></script>
</body>

<br />
<footer class="page-footer fixed-bottom font-small indigo">
  <div class="text-center">
      <h6>
    Scientia potentia est. |
    Contact: nanthony007@gmail.com
      </h6>
  </div>
</footer>

</html>

<script type="text/javascript">
  new WOW().init();
  var rosterlines = document.getElementById("rosterlinechart").getContext('2d');
  var myLineChart = new Chart(rosterlines, {
    type: 'line',
    data: {
      labels: {{ length }},
      datasets: [{
          label: "{{ user.profile.roster57.name }}",
          data: [{% for row in user.profile.roster57.focus_wrestler2.all %}
            {{row.vs}},
            {% endfor %}],
          borderColor: 'yellow',
          backgroundColor: 'rgb(255, 255, 255, 0.0)',
          borderWidth: 2
        },
        {
          label: "{{ user.profile.roster61.name }}",
          data: [{% for row in user.profile.roster61.focus_wrestler2.all %}
            {{row.vs}},
            {% endfor %}],
                    borderColor: 'blue',
          backgroundColor: 'rgb(255, 255, 255, 0.0)',
          borderWidth: 2
        },
        {
          label: "{{ user.profile.roster65.name }}",
          data: [{% for row in user.profile.roster65.focus_wrestler2.all %}
            {{row.vs}},
            {% endfor %}],
                    borderColor: 'red',
          backgroundColor: 'rgb(255, 255, 255, 0.0)',
          borderWidth: 2
        },
                {
          label: "{{ user.profile.roster70.name }}",
          data: [{% for row in user.profile.roster70.focus_wrestler2.all %}
            {{row.vs}},
            {% endfor %}],
                    borderColor: 'green',
          backgroundColor: 'rgb(255, 255, 255, 0.0)',
          borderWidth: 2
        },
                {
          label: "{{ user.profile.roster74.name }}",
          data: [{% for row in user.profile.roster74.focus_wrestler2.all %}
            {{row.vs}},
            {% endfor %}],
                    borderColor: 'purple',
          backgroundColor: 'rgb(255, 255, 255, 0.0)',
          borderWidth: 2
        },
                {
          label: "{{ user.profile.roster79.name }}",
          data: [{% for row in user.profile.roster79.focus_wrestler2.all %}
            {{row.vs}},
            {% endfor %}],
                    borderColor: 'orange',
          backgroundColor: 'rgb(255, 255, 255, 0.0)',
          borderWidth: 2
        },
                {
          label: "{{ user.profile.roster86.name }}",
          data: [{% for row in user.profile.roster86.focus_wrestler2.all %}
            {{row.vs}},
            {% endfor %}],
                    borderColor: 'black',
          backgroundColor: 'rgb(255, 255, 255, 0.0)',
          borderWidth: 2
        },
                {
          label: "{{ user.profile.roster92.name }}",
          data: [{% for row in user.profile.roster92.focus_wrestler2.all %}
            {{row.vs}},
            {% endfor %}],
                    borderColor: 'magenta',
          backgroundColor: 'rgb(255, 255, 255, 0.0)',
          borderWidth: 2
        },
                {
          label: "{{ user.profile.roster97.name }}",
          data: [{% for row in user.profile.roster97.focus_wrestler2.all %}
            {{row.vs}},
            {% endfor %}],
                    borderColor: 'cyan',
          backgroundColor: 'rgb(255, 255, 255, 0.0)',
          borderWidth: 2
        },
                {
          label: "{{ user.profile.roster125.name }}",
          data: [{% for row in user.profile.roster125.focus_wrestler2.all %}
            {{row.vs}},
            {% endfor %}],
                    borderColor: 'lime',
          backgroundColor: 'rgb(255, 255, 255, 0.0)',
          borderWidth: 2
        },
    ]
  },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
          }
        }]
      },
      intersect: false,
      title: {
          display: true,
          text: 'Timeseries'
      },
      responsive: true,
      animation: {
        'duration': 2000
      }
    }
  });
</script>
