{% extends "vws_main/header.html" %}
{% load staticfiles %}
{% load static %}


{% block content %}

 <!-- content here -->
 <div class="container">
    <div class="container-fluid">
            <br />

      <h1>Your Profile</h1>
      <h6>
        Get started by adding your favorite wrestlers to your team to view their stats! <br />
        Then edit your profile to add an image and set your team name!
      </h6>
      <hr class="yellow"/>
      <div class="page-header">
        <h2>
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" 
          style="width: 50px; height: 50px"> 
          {{ user.username }} </h2>
        <h4>
          Email: <small>{{ user.email }}</small>
        </h4>
        <p>Update your profile <a href="update">here.</a>  Set your team name and upload an image!</p>
    </div>
    </div>
      <hr class="yellow">
      <h2>Your Team: {{ user.profile.teamname }}</h2>
      <p>
        Pick your team <a href="roster-update">here!</a>
        Click on any wrestler's name to see their profile page.
      </p>
      <div class="row">
        <div class="col col-sm">
          <table id="rostertable" 
          class="table table-small table-bordered text-center">
            <thead class="indigo text-white">
              <th>Name</th>
              <th>Weight</th>
              <th>Rating</th>
              <th>Match Count</th>
            </thead>
            <tbody>
              {% for w in user.profile.roster.all %}
              <tr>
                <td><a style="color: darkblue" href="/wrestlers/{{w.name | slugify}}/">{{ w.name }}</a></td>
                <td>{{ w.focus_wrestler2.first.weight }}kgs</td>
                <td>{{ w.rating }}</td>
                <td>{{ w.focus_wrestler2.all|length }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col col-sm"></div>
      </div>
      <hr  class="yellow"/>
      <div class="page-header">
            <h2><em>Versus!</em></h2>
        </div>
        <h4>Compare your favorite wrestlers and see who would win!</h4>
        <p>
          Be sure to enter athlete names as found on our <a href="/ratings/">Ratings</a> page. <br />
          Failure to do so will result in a system error.
        </p>
      
        <div class="col-md-6">
          <form method="POST" action="/athlete-comparison/">
              {% csrf_token %}
              <div class="form-group row">
                <label for="wrestler1" class="col-sm-2 col-form-label">Wrestler: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="wrestler1" name="wrestler1" placeholder="Type a wrestler's name">
                </div>
              </div>
              <div class="form-group row">
                <label for="wrestler2" class="col-sm-2 col-form-label">Opponent: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="wrestler2" name="wrestler2" placeholder="Type a wrestler's name">
                </div>
              </div>
              <button class="btn btn-outline-indigo text-white" type="submit" value="Submit">Compare!</button>
            </form>
          </div>
        <br />
        <hr class="yellow" />

  <br />

  </div>
      <!-- stop content -->

    <script type="text/javascript" src="{% static 'vws_main/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/addons/datatables.min.js' %}"></script>

    <script type="text/javascript">
        new WOW().init();
        $(document).ready(function () {
          $('#rostertable').DataTable({
            'info': true,
            'paging':true,
            'scrollCollapse': true,
          });
          $('.dataTables_length').addClass('bs-select');
        });
    </script>

{% endblock %}

  