{% extends "vws_main/header.html" %}
{% load staticfiles %}


{% block content %}

 <!-- content here -->
 <div class="container">
    <div class="container-fluid">
            <br />

      <h1>Your Profile</h1>
      <p>Get started by adding your favorite wrestlers to your team to view their stats!</p>
      <hr class="yellow"/>
      <div class="page-header">
        <h2>
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" 
          style="width: 50px; height: 50px"> 
          {{ user.username }} </h2>
        <h4>
          Email: <small>{{ user.email }}</small>
        </h4>
        <p>Update your profile <a href="update">here.</a></p>
    </div>
    </div>
      <hr class="yellow">
      <h2>Your Team: {{ user.profile.teamname }}</h2>
      <p>
        Pick your team <a href="roster-update">here!</a>
        Click on any wrestler's name to see their profile page.
      </p>
      <div class="row">
        <div class="col col-sm">
          <table id="rostertable" 
          class="table table-small table-bordered text-center">
            <thead class="indigo text-white">
              <th>Name</th>
              <th>Weight</th>
              <th>Rating</th>
              <th>Match Count</th>
            </thead>
            <tbody>
              {% for w in user.profile.roster.all %}
              <tr>
                <td><a style="color: darkblue" href="/wrestlers/{{w.name | slugify}}/">{{ w.name }}</a></td>
                <td>{{ w.focus_wrestler2.first.weight }}kgs</td>
                <td>{{ w.rating }}</td>
                <td>{{ w.focus_wrestler2.all|length }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col col-sm"></div>
      </div>
      <hr  class="yellow"/>
      <div class="page-header">
            <h2><em>Versus!</em></h2>
        </div>
        <h4>Compare your favorite wrestlers and see who would win!</h4>
        <p>Be sure to enter athlete names as found on our <a href="/ratings/">Ratings</a> page.</p>
      
        <div class="col-md-6">
          <form method="POST" action="/athlete-comparison/">
              {% csrf_token %}
              <div class="form-group row">
                <label for="wrestler1" class="col-sm-2 col-form-label">Wrestler: </label>
                <div class="col-sm-10">
                  <select class="custom-select" id="wrestler1" name="wrestler1">
                    {% for wrestler in user.profile.roster.all %}
                    <option value="{{ wrestler.name }}">{{ wrestler.name }}</option>
                    {% endfor %}
                  </select>
                  </div>
              </div>
              <div class="form-group row">
                <label for="wrestler2" class="col-sm-2 col-form-label">Opponent: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="wrestler2" name="wrestler2" placeholder="Type a wrestler's name" value="Zain Retherford">
                </div>
              </div>
              <button class="btn btn-outline-indigo text-white" type="submit" value="Submit">Compare!</button>
            </form>
          </div>
        <br />
        <hr class="yellow" />
  <!--

      <h2>{{ user.profile.teamname }} <small>Stats</small></h2>
      <p>View their stats!</p>
  <div class='tableauPlaceholder' id='viz1564518756083' style='position: relative'>
      <noscript><a href='https:&#47;&#47;veritaswrestlingsystems.com'>
          <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ma&#47;Maryland2018Evaluation&#47;VS&#47;1_rss.png' style='border: none' /></a>
      </noscript>
      <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='Maryland2018Evaluation&#47;VS' />
          <param name='tabs' value='yes' />
          <param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ma&#47;Maryland2018Evaluation&#47;VS&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='filter' value='Team1=Princeton' />
      </object>
  </div>
-->

  <br />

  </div>
      <!-- stop content -->

    <script type="text/javascript" src="{% static 'vws_main/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vws_main/js/addons/datatables.min.js' %}"></script>

    <script type="text/javascript">
        new WOW().init();
        $(document).ready(function () {
          $('#rostertable').DataTable({
            'info': false,
            'paging':false,
            'scrollCollapse': true,
          });
          $('.dataTables_length').addClass('bs-select');
        });
        var divElement = document.getElementById('viz1564518756083');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width='100%';
        vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>

{% endblock %}

  