{% extends "vws_main/header.html" %}
{% load staticfiles %}

{% block content %}
{{ roster_form.media.css }}
<style type="text/css">
	.django-select2 {
		width: 50%;
	}
</style>
<br />
<div class="container modal-body">
	<form method="POST" enctype="multipart/form-data">
		<legend>Update Roster</legend>
		<p>Enter 'Space' twice to view all available wrestlers.</p>
		{% csrf_token %}
		<fieldset class="form-group">
			{% csrf_token %}
			{{ roster_form.as_p }}
		</fieldset>
		<button class="btn" type="submit">Update</button>
	</form>
</div>

<script type="text/javascript" src="{% static 'vws_main/js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vws_main/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vws_main/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vws_main/js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vws_main/js/addons/datatables.min.js' %}"></script>

<script type="text/javascript">
	new WOW().init();
</script>
{{ roster_form.media.js }}

{% endblock %}